@import 'jeet'

size-xs = 400px
size-s = 600px
size-m = 800px
size-l = 1050px
size-xl = 1800px

color-main = #3E3A3B

/*Headers*/
h1
    +below(size-m)
        font-size 32px

h2
    +below(size-m)
        font-size 26px

h3
    +below(size-m)
        font-size 20px

h4
    +below(size-m)
        font-size 16px

p
    +below(size-s)
        font-size 12px

hr
    color lighten(color-main, 50%)

html
    background: #f5f5f5;

.backfaceVisibility
    -webkit-backface-visibility: visible;
    backface-visibility: visible;

body
    font-size 14px
    line-height 20px
    color #3E3A3B

/**********************
    =Home
**********************/
.em-svet
    font-size 18px
    font-weight 700

.p-svet
    font-size 14px

