@import 'jeet'

size-xs = 350px
size-s = 400px
size-m = 500px
size-l = 1050px
size-xl = 1800px

.text-warning
    color #FF7F50

body
    padding-bottom 44px !important
    font-family "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif

color-main = #3E3A3B

/*Headers*/
h1
    +below(size-m)
        font-size 22px !important
        line-height 26px

h2
    font-weight bold !important
    font-size 28px !important
    line-height 32px
    +below(size-m)
        font-size 18px !important

h3
    font-weight bold !important
    +below(size-m)
        font-size 17px

h4
    +below(size-m)
        font-size 15px
        margin-bottom 5px !important
        margin-top 5px !important
    +below(size-s)
        font-size 14px
        margin-bottom 5px !important
        margin-top 5px !important
    +below(size-xs)
        font-size 13px
        margin-bottom 5px !important
        margin-top 5px !important

p
    +below(size-m)
        font-size 12px
        line-height 16px
    +below(size-s)
        font-size 11px
        line-height 16px
    +below(size-xs)
        font-size 10px
        line-height 14px

hr
    color lighten(color-main, 50%)
    color lighten(color-main, 50%)
    +below(size-s)
        margin-top 10px
        margin-bottom 5px

.fa-fw
    margin-right 5px

html
    background: #f5f5f5;

.backfaceVisibility
    -webkit-backface-visibility: visible;
    backface-visibility: visible;

.text-dark
    color #393939 !important

body
    /*font-family "Open Sans"*/
    font-size 14px
    line-height 20px
    color #3E3A3B

/**********************
    =Header
**********************/
.img-hamb
    width 100%
    +below(size-m)
        width 15%
    +below(size-s)
        width 15%
    +below(size-xs)
        width 15%

.svet-h
    font-size 26px !important
    font-weight bold
    margin 0px
    +below(size-m)
        font-size 26px !important
    +below(size-s)
        font-size 24px !important
    +below(size-xs)
        font-size 20px !important

/**********************
    =Home
**********************/
.map-info
    width auto
    p
        margin-bottom 0px

.map-marker-info
    width 150px !important
    height 60px !important

.h-home
    margin-top 0px
    font-size 150%
    +below(size-s)
        font-size 90%
    +below(size-xs)
        margin-top 0px
        font-size 80%
        font-weight normal

.town-name
    margin-top 0px
    margin-bottom 5px
    font-size 110%
    font-weight bold
    color dimgrey
    +below(size-s)
        font-size 100%

.icon-text
    padding-top 5px
    line-height 130%
    font-size 120%
    &:hover
    &:active
    &:focus
        text-decoration none
        color navajowhite
    +below(size-s)
        margin-bottom 10px
        font-size 90%
    +below(size-xs)
        padding-top 0px
        font-size 80%
        font-weight normal

.flip-text
    line-height 130%
    font-size 120%
    margin-bottom 5px
    margin-top 0px
    +below(size-m)
        line-height 110%
    +below(size-s)
        padding-top 5px
        font-size 100%
    +below(size-xs)
        padding-top 0px
        font-size 90%
        font-weight normal

.yp-link
    margin-top 25px
    display block
    +below(size-s)
        margin-top 5px

.flip-text-sm
    line-height 140%
    font-size 110%
    margin-bottom 5px
    margin-top 0px
    +below(size-m)
        line-height 110%
        padding-top 0px
    +below(size-s)
        font-size 90%
    +below(size-xs)
        font-size 80%
        font-weight normal

.img-logo-mob
    +below(size-m)
        margin-bottom 10px
    +below(size-xs)
        width 40%
        margin 0 auto
        margin-bottom 5px

.em-svet
    font-size 18px
    font-weight 700
    +below(size-xs)
        font-size 14px

.p-svet
    font-size 14px !important
    +below(size-m)
        font-size 14px !important
        line-height 26px
    +below(size-s)
        font-size 12px !important
        line-height 24px
    +below(size-xs)
        font-size 11px !important
        line-height 18px

.img-frame
    width 80%
    display inline-block
    text-align center
    +below(size-m)
        width 65%
    +below(size-s)
        width 60%
    +below(size-xs)
        width 50%
    img
        vertical-align middle

.li-text
    width 70%
    display inline-block
    float left
    text-align left
    +below(size-m)
        width 70%
    +below(size-s)
        width 74%
    +below(size-xs)
        width 80%

.img-section
    width 100px
    height 100px
    z-index 999

.p-content
    font-size 15px !important
    line-height 24px !important
    +below(size-m)
        font-size 14px !important
        line-height 20px !important
        font-weight normal
        margin-bottom 10px !important

/**********************
  =About Us
***********************/

.h2-about
    font-weight bold !important
    font-size 26px
    line-height 32px
    display block
    margin-bottom 10px !important
    +below(size-m)
        font-size 18px !important
        line-height 24px !important

.img-about
    width 100%
    height auto
    +below(size-m)
        width 85%

.ul-about
    position relative
    bottom 0
    li
        color #797979
        font-size 14px
        a
            color #797979
        +below(size-xs)
            font-size 11px !important

/**********************
  =Contact
***********************/
.panel-address-cell
    margin auto
    margin-bottom 10px
    width 270px
    padding 10px

.address
    +below(size-xs)
        font-size 12px
        line-height 15px

.address-map
    img
        width 90%
        +below(size-xs)
            width 60%

/**********************
     =Radio
**********************/

.radio-text
    h3, h4, p, a
        line-height 22px

.li-radio
    padding-top: 15px

.h4-radio-cell
    font-size 14px
    font-weight bold

.h-radio-cell
    margin-top 0px
    margin-bottom 0px
    font-size 17px

.radio-auth-pic-cell
    img
        width 70px
        margin-bottom 5px !important
        height auto
