@import 'jeet'

size-xs-d = 350px
size-s-d = 400px
size-md-d = 700px
size-lg-d = 1050px
size-xl-d = 1800px

.body-desktop
    /*background-color #334559*/
    /*background-color #F0EDE5*/
    background-color #E9E5DC

.icon-text-desk
    margin-top 15px
    margin-bottom 15px
    font-weight bold
    line-height 130%
    display block
    font-size 1.6em !important
    &:hover
    &:active
    &:focus
        text-decoration none
        color navajowhite
    +below(size-lg-d)
        font-size 1.5em !important
    +below(size-md-d)
        font-size 1em !important

.h4-section
    font-size 120%
    line-height 130%
    +below(size-lg-d)
        font-size 100%
        line-height 120%
    +below(size-md-d)
        font-size 90%
        line-height 120%

.p-section
.a-yp-desktop
    color #393939

.p-section
    font-size 110%
    border-radius 0px
    line-height 130%
    +below(size-lg-d)
        font-size 90%
        line-height 120%
    +below(size-md-d)
        font-size 80%
        line-height 120%

.a-yp-desktop
.p-ad
    font-size 130%
    border-radius 0px
    line-height 130%
    +below(size-lg-d)
        font-size 100%
        line-height 120%
    +below(size-md-d)
        font-size 90%
        line-height 120%

.h4-section
    color #595959 !important
    margin-bottom 5px
    margin-top 0px

.a-yp-desktop
    color floralwhite
    text-decoration underline
    &:hover
    &:active
    &:focus
        color antiquewhite
        text-decoration none

.panel-section
    margin-bottom 0px
    background-color #faebd7
    border-radius 0px
    border 0px
    padding 15px
    height 140px
    +below(size-lg-d)
        height 135px
    +below(size-md-d)
        height 125px

.panel-bottom
    margin-top 0px
    opacity 0.9
    background-color #ff7f50
    border-radius 0px
    border 0px
    padding-top 10px
    padding-bottom 10px
    height 46px
    +below(size-lg-d)
        height 135px
    +below(size-md-d)
        height 125px

/**********************
    =About Us
***********************/
.img-about-desk
    width true

.contact-map-desk
    width 100%

/**********************
    =Radio
**********************/
.h-radio-desk
    line-height 36px

/**********************
    =Contact Us
**********************/
.img-contact
    display inline-block
    height: 100%
    widht: 100%

.text-color
    color #fffaf0
