@import 'jeet'

size-xs = 350px
size-s = 400px
size-m = 500px
size-l = 1050px
size-xl = 1800px

.body-desktop
    min-width 1300px

.icon-text-desk
    padding-top 5px
    line-height 130%
    &:hover
    &:active
    &:focus
        text-decoration none
        color navajowhite

.h4-section
    color #393939 !important
    line-height 130%
    font-size 120%
    margin-bottom 5px
    margin-top 0px

.p-section
    line-height 140%
    color #494949 !important
    font-size 120%
    margin-bottom 5px
    margin-top 0px

.panel-section
    background-color #fffaf0
    border-radius 0px
    padding 15px
    height 150px

.p-ad
    font-size 17px

.a-yp-desktop
    font-size 17px
    color floralwhite
    text-decoration underline
    &:hover
    &:active
    &:focus
        color antiquewhite
        text-decoration none


