@import 'jeet'

size-xs = 350px
size-s = 400px
size-md-d = 700px
size-lg-d = 1050px
size-xl = 1800px

.body-desktop
    background-color slategrey

.icon-text-desk
    margin-top 15px
    margin-bottom 15px
    font-weight bold
    line-height 130%
    display block
    font-size 1.6em !important
    &:hover
    &:active
    &:focus
        text-decoration none
        color navajowhite
    +below(size-lg-d)
        font-size 1.5em !important
    +below(size-md-d)
        font-size 1em !important

.h4-section
    color #393939 !important
    line-height 130%
    font-size 120%
    margin-bottom 5px
    margin-top 0px

.p-section
    line-height 140%
    color #494949 !important
    font-size 120%
    margin-bottom 5px
    margin-top 0px

.panel-section
    background-color #fffaf0
    border-radius 0px
    padding 15px
    height 150px
    +below(size-md-d)
        font-size 0.7em

.p-ad
    font-size 17px
    +below(size-md-d)
        font-size 0.8em

.a-yp-desktop
    font-size 17px
    color floralwhite
    text-decoration underline
    &:hover
    &:active
    &:focus
        color antiquewhite
        text-decoration none
    +below(size-md-d)
        font-size 0.8em


