div.text-center
    h3 Contact Us
    br
    .text-center
        .panel.panel-default.panel-address-cell.text-left
            .address
                i.fa.fa-envelope.fa-fw
                strong SVET Media Group
                .street 900 Skokie Blvd., Suite 103,
                .city Northbrook, IL 60062
                .abbr Tel. (847)715-9407
                .phone Fax: (847)715-9677
                a(href="mailto:#") E-mail: manager@svet.com
    br
    .contact-map-desk
        img(src="../img/contact/address-map.jpg")
