span.icon-text-desk Svet
    br
    | Daily Newspaper
div.panel.panel-default.panel-section
    h4.h4-section
        i.fa.fa-newspaper-o.fa-fw
        | Over48 pages daily,<br/> free of charge.
    p.p-section It is the most up-to-date Russian language newspaper outside of Russia.
div.panel.panel-default.panel-bottom
    p.p-ad
        i.fa.fa-envelope-o.fa-fw
        | Register to get by mail!
