h4.flip-text.text-info
    i.fa.fa-newspaper-o.fa-fw
    | Over48 pages daily,<br/> free of charge.
p.flip-text-sm It is the most up-to-date Russian language newspaper outside of Russia.
p.text-danger.flip-text Subscribe to receive by mail!
