h3.icon-text-desk Russian-American
    br
    | Yellow Pages
div.panel.panel-default.panel-section
    h4.h4-section
        i.fa.fa-book.fa-fw
        | Over 650 full color pages of services and products.
    p.p-section Free distribution in Chicago and its suburbs!
a.a-yp-desktop(href='http://www.spasibous.com/yp', target='_blank')
    i.fa.fa-search.fa-fw
    | YP Online Catalogue
