h4.flip-text.text-info
    i.fa.fa-newspaper-o.fa-fw
    | Over 48 pages weekly,<br/> free of charge.
p.flip-text-sm It covers entertainment and other social news in Unites States and abroad
p.text-danger.flip-text Latest info on hot vacation spots!
