h4.flip-text.text-info
    i.fa.fa-info-circle.fa-fw
    | Over 650 full color pages of services and products.
p.flip-text-sm Free distribution in Chicago and its suburbs!

a.flip-text.text-danger.yp-link(href='http://www.spasibous.com/yp', target='_blank')
    i.fa.fa-search.fa-fw
    | YP Online Catalogue
