div
    div.circle
    //img.img-section(src="img/home-page/icons-white/yp-shadow.png")
    //img.img-section(src="img/home-page/icons-color/yp-or.png")
    h4 Russian-American
        br
        |Yellow Pages


