/*Headers*/
@media only screen and (max-width: 800px) {
  h1 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 800px) {
  h2 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 800px) {
  h3 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 800px) {
  h4 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 600px) {
  p {
    font-size: 12px;
  }
}
hr {
  color: #a19a9c;
}
html {
  background: #f5f5f5;
}
.backfaceVisibility {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
body {
  font-size: 14px;
  line-height: 20px;
  color: #3e3a3b;
}
/**********************
    =Home
**********************/
.em-svet {
  font-size: 18px;
  font-weight: 700;
}
.p-svet {
  font-size: 14px;
}
