.body-desktop {
  min-width: 1300px;
}
.icon-text-desk {
  padding-top: 5px;
  line-height: 130%;
}
.icon-text-desk:hover,
.icon-text-desk:active,
.icon-text-desk:focus {
  text-decoration: none;
  color: #ffdead;
}
