.body-desktop {
  background-color: #e9e5dc;
}
.h1-desk {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media screen and (max-width: 992px) {
  .h1-desk {
    font-size: 14px;
  }
}
.icon-text-desk {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  line-height: 130%;
  display: block;
  font-size: 1.6em !important;
}
.icon-text-deskhover,
.icon-text-deskactive,
.icon-text-deskfocus {
  text-decoration: none;
  color: #fff;
}
@media only screen and (max-width: 1050px) {
  .icon-text-desk {
    font-size: 1.5em !important;
  }
}
@media only screen and (max-width: 700px) {
  .icon-text-desk {
    font-size: 1em !important;
  }
}
.h4-section {
  font-size: 120%;
  line-height: 130%;
}
@media only screen and (max-width: 1050px) {
  .h4-section {
    font-size: 100%;
    line-height: 120%;
  }
}
@media only screen and (max-width: 700px) {
  .h4-section {
    font-size: 90%;
    line-height: 120%;
  }
}
.p-section,
.a-yp-desktop {
  color: #393939;
}
.p-section {
  font-size: 110%;
  border-radius: 0px;
  line-height: 130%;
}
@media only screen and (max-width: 1050px) {
  .p-section {
    font-size: 90%;
    line-height: 120%;
  }
}
@media only screen and (max-width: 700px) {
  .p-section {
    font-size: 80%;
    line-height: 120%;
  }
}
.a-yp-desktop,
.p-ad {
  font-size: 130%;
  border-radius: 0px;
  line-height: 130%;
}
@media only screen and (max-width: 1050px) {
  .a-yp-desktop,
  .p-ad {
    font-size: 100%;
    line-height: 120%;
  }
}
@media only screen and (max-width: 700px) {
  .a-yp-desktop,
  .p-ad {
    font-size: 90%;
    line-height: 120%;
  }
}
.h4-section {
  color: #595959 !important;
  margin-bottom: 5px;
  margin-top: 0px;
}
.a-yp-desktop {
  color: #fffaf0;
  text-decoration: underline;
}
.a-yp-desktophover,
.a-yp-desktopactive,
.a-yp-desktopfocus {
  color: #faebd7;
  text-decoration: none;
}
.panel-section {
  margin-bottom: 0px;
  background-color: #faebd7;
  border-radius: 0px;
  border: 0px;
  padding: 15px;
  height: 140px;
}
@media only screen and (max-width: 1050px) {
  .panel-section {
    height: 135px;
  }
}
@media only screen and (max-width: 700px) {
  .panel-section {
    height: 125px;
  }
}
.panel-bottom {
  margin-top: 0px;
  opacity: 0.9;
  background-color: #ff7f50;
  border-radius: 0px;
  border: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 46px;
}
@media only screen and (max-width: 1050px) {
  .panel-bottom {
    height: 135px;
  }
}
@media only screen and (max-width: 700px) {
  .panel-bottom {
    height: 125px;
  }
}
/**********************
    =About Us
***********************/
.img-about-desk {
  text-align: center;
}
.img-about-desk img {
  display: block;
}
.about-col {
  padding: 50px;
}
.about-col p {
  margin-top: 15px;
}
@media screen and (max-width: 992px) {
  .about-col {
    font-size: 12px !important;
  }
}
/**********************
    =Radio
**********************/
.h-radio-desk {
  line-height: 36px;
}
/**********************
    =Contact Us
**********************/
.contact-map-desk {
  width: 100%;
}
.img-contact {
  display: inline-block;
  height: 100%;
  width: 100%;
}
#map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.panel-destination {
  padding: 10px;
}
.map-form-group {
  margin-bottom: 20px !important;
}
#start,
#end {
  width: 220px;
  margin-right: 15px;
  padding: 5px !important;
  border-bottom: #d3d3d3 1px solid;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}
#end {
  color: #f00;
}
.fa-map-marker {
  color: #f00;
}
b {
  width: 300px;
}
.panel-wrapper {
  width: 400px;
  padding-top: 15px;
  position: absolute;
  top: 7%;
  left: 2%;
  z-index: 5;
}
#panel {
  text-align: left !important;
  width: 300px;
  background-color: #fff;
  border: 1px solid #999;
  box-shadow: rgba(0,0,0,0.298) 0px 2px 6px 0px;
}
.ul-contact-map {
  text-align: center;
}
.li-button {
  margin: 0px;
  padding: 0px !important;
  height: auto;
  vertical-align: top;
  display: block;
}
.li-panel display block {
  margin: 0px;
  padding: 0px !important;
}
.search-option {
  padding-left: 15px;
  margin-right: 10px;
  padding-right: 15px;
}
.search-dest {
  box-shadow: rgba(0,0,0,0.298) 0px 2px 6px 0px;
  border-radius: 0px;
  padding-left: 30px;
  padding-right: 25px;
  margin: 0px;
}
.address {
  padding-left: 10px;
}
.address-marker {
  padding-left: 0px;
  font-size: 12px;
  line-height: 17px;
}
.address-marker h5 {
  font-size: 14px !important;
  margin-bottom: 5px !important;
}
