div
    ul.ul-about.list-inline
        li
            h4.text-left About Us
        li
            h4.text-left Page 1
        li
            h4.text-right Next Page
                a
                    i.fa.fa-play.fa-fw
    span.h2-about SVET International &nbsp
        br
        span.text-warning publishing house
    img.img-about(src="../img/aboutUs/aboutus_1.jpg")
