div
    ul.ul-about.list-inline
        li About Us
        li Page 3
    div.p-content Over the past THIRTEEN years our publishing house has accumulated a considerable brainpower and intellectual potential.
    img.img-about(src="../img/aboutUs/aboutus_2.jpg")
    hr
    ul.ul-about.list-inline
        li
            i.fa.fa-play.fa-rotate-180.fa-fw
            span.text-left Previous Page
        li
            span.text-right Next Page
                i.fa.fa-play.fa-fw
