div
    ul.ul-about.list-inline
        li
            h4.text-left About Us
        li
            h4.text-right Page 1
                a
                    i.fa.fa-play.fa-fw
    h2.h2-about SVET International &nbsp
        br
        span.text-warning publishing house
    img.img-about(src="../img/aboutUs/aboutus_1.jpg")
    //p
    //    | The competitors consider SVET International Publishing House to be a typical "company with the future", with steady dynamic growth of all indicators which have to be taken into account willingly or not. Once in two years a completely new project is given birth, which is introducing radical changes into the ethnic publishing market in Chicagoland.
    //p
    //    | Our colleagues recognize with an imperceptible shade of envy that the SVET International Publishing house managed to combine incompatible things: the creative approach to technologies and technological approach to creativity.
