div
    ul.ul-about.list-inline
        li
            h4.text-left About Us
        li
            h4.text-right Page 3
                a
                    i.fa.fa-play.fa-fw
    div.p-content Over the past THIRTEEN years our publishing house has accumulated a considerable brainpower and intellectual potential.
    img.img-about(src="../img/aboutUs/aboutus_2.jpg")
