section.svet-services
    .h-services.text-center
        | Our Clients
    article
        .clients-content
            h2 Finance
            ul
                li MB Financial Bank
                li Harris Bank
                li ColeTaylor Bank
                li Devon Bank
                li Western Union
                li Bank Financial
                li Robbins & Lloyd Mortgage Corporation
                li
                    em And more...
        .clients-content
            h2 Auto
            ul
                li Arlington Toyota
                li Berman’s Auto Group
                li Castle Honda
                li Fields Dodge and Jeep
                li Fields Infinity
                li Harley Davidson
                li Lexus of Orland
                li Prestige Leasing
                li Rich's Yamaha
                li Star Nissan
                li
                    em And more...
        .clients-content
            h2 Stores
            ul
                li Studio 41 Home Design
                li Home Depot
                li C.D. Peacock
                li Fresh Farms
                li Highland Health Food
                li Garden Fresh
                li Farmers Best
                li H-Mart
                li Bende’s Specialty Foods
                li Jimenez
                li
                    em And more...
    article
        .clients-content
            h2 Restaurants
            ul
                li Maggiano’s
                li McCormick and Schmicks
                li Zhivago (Skokie)
                li Kamehachi (Chicago, Northbrook)
                li Gridley’s Grille (Long Grove)
                li Bella Via (Highland Park)
                li Dover Straits
                li Elephant (Niles)
                li Michael (Winnetka)
                li Le Titi De Paris (Arl Hts)
                li India House (Buffalo Grove)
                li Jimmy’s Charhouse (Riverwoods)
                li Omega (Niles)
                li Tapas Gitana (Northfield)
                li Raw Bar (Chicago)
                li Wild Fish (Arl Hts)
                li Brazzaz (Chicago)
                li
                    em And more...
        .clients-content
            h2 Insurance
            ul
                li Allstate Insurance / Roman Sher
                li State Farm Insurance / Bonnie Perkovich
                li Country Insurance / Paul Moskvitin
                li Country Insurance / Yelena Sokolova
                li American Family insurance / Renata Tolvaisaite
                li
                    em And more...
            h2 Health
            ul
                li Pearle Vision
                li Women’s Health First
                li Gordin Medical Center
                li Rush North Shore Medical Center
                li IL Dental Center
                li North Shore Vascular
                li Mount Sinai Hospital
                li Dr. Elena Levitina
                li Healthy Trust
                    em And more...
        .clients-content
            h2 Attorneys
            ul
                li Davidson & Schiller, LLC
                li Chepov & Scott
                li Law Office of A. Gruzmark
                li Law Office of A. Liberfarb
                li DeFrenza, Moskoni Matyjewicz, P.C.
                li Birg & Meltser
                li Law office of A. Tolmatsky
                li Law Office of L. Golub
                li Law office of M. Kern
                li  Slava A. Tenenbaum, chartered
                li Barry Rabovsky
                li
                    em And more...

    //article
    //    .clients-img-container
    //        img(src="img/clients/clientsBEST.jpg")
