section.svet-services
    .h-services.text-center
        | Contact Us
    br
    article.dem-content-bottom
        table.simpleText(width='220', border='0', cellspacing='0', cellpadding='0', style='margin-top:10px;')
            tbody
                tr
                    td  
                    td(colspan='2')
                        | 900 Skokie Blvd., Suite 103, Northbrook, IL 60062
                        br
                        | Tel. (847)715-9407
                        br
                        | Fax: (847)715-9677
                        br
                        | E-mail:
                        a.menu2(href='mailto:svet@svet.com')  manager@svet.com
                tr
                    td(colspan='3', height='8')

