section.svet-services
    article.about-content-top
        .h-services.text-center
            | Demographics
        p.text-center
            | The Russian - American population in the United States is estimated at nearly
        h2.text-center 2.9 million people
        br
        p
            | It is the second largest ethnic market, making up 10.4% of 28.4 million foreign born people in the country.
        h4
            | States with the highest concentration of the Russian-American population:
        p
            | New York Tri-State area – 24% (approx. 696,000 people)
            br
            | California – 17% (approx. 493,000 people)
            br
            | Illinois – 16% (approx. 464,000 plus people)

        h2 Language
        p
            | Ukrainian, Lithuanian, Bulgarian, and other Eastern European communities speak Russian, which makes the Russian speaking community the second largest segment of the foreign born US population, which is estimated at 5 million people.

section.svet-services
    article.about-content-top
        .chicago-news.text-center
            svg.d3-stat
