section.svet-services
    article.dem-content-top
        .h-services.text-center
            | Demographics
        p.text-center
            | The Russian - American population in the United States is estimated at nearly
        h2.text-center 2.9 million people
        br
        p
            | It is the second largest ethnic market, making up 10.4% of 28.4 million foreign born people in the country.
        h4
            | States with the highest concentration of the Russian-American population:
        p
            | New York Tri-State area – 24% (approx. 696,000 people)
            br
            | California – 17% (approx. 493,000 people)
            br
            | Illinois – 16% (approx. 464,000 plus people)

    aside.sun-times
        .chicago-news.text-center
            img(src="img/dem/map.jpg")

