.productsServises
    .home-icon-container
        img(src="img/home-page/yp-shadow.png")
    .h-home Russian-American
        br
        | Yellow Pages
    //p The Russian Yellow Pages present over 650 full color pages
    //    br
    //    | of services and products to the Russian-speaking community
    //    br
    //    | in the Chicagoland area.
    //    br
    //    | Free distribution in Chicago and its North and Northwestern suburbs.
