h2
    em.center SVET Media Group
    div is the Midwest’s first and oldest publishing and advertising company serving the Russian,
        | Ukrainian and Lithuanian communities since 1990. And Izya Oberman!




