section.svet-services
    .h-services.text-center
        | Radio "OSA"
    article
        .clients-content
            ul.list-unstyled
                li
                    a(href="mms://strean.imcpro.com/svet/2014-12-28.asf")
                        | 2014-12-28.asf
                        | &nbsp
                        | Sunday, December 28, 2014
        .clients-content
            h2 Auto
            ul
                li Arlington Toyota
                li Berman’s Auto Group
                li Castle Honda
                li Fields Dodge and Jeep
                li Fields Infinity
                li Harley Davidson
                li Lexus of Orland
                li Prestige Leasing
                li Rich's Yamaha
                li Star Nissan
                li
                    em And more...
        .clients-content
            h2 Stores
            ul
                li Studio 41 Home Design
                li Home Depot
                li C.D. Peacock
                li Fresh Farms
                li Highland Health Food
                li Garden Fresh
                li Farmers Best
                li H-Mart
                li Bende’s Specialty Foods
                li Jimenez
                li
                    em And more...
