//ul.list-inline
//    li.text-cetner.radio-auth-pic-cell.thumbnail
//            img(src="../img/alex-etman.jpg")
//    li
//        h3.text-info
//            i.fa.fa-volume-up.fa-fw
//            | Radio Talk Show
//            br
//            | with &nbsp
//            strong Alex Etman
//            br
//            em
//                | 1240 AM Wave.
//h3
//    | Every Sunday Morning
//    br
//    | from 11AM to 1PM
