div
    ul.ul-about.list-inline
        li Radio 1
        li Page 1
    .radio-text
        br
        h3.text-info
            i.fa.fa-volume-up.fa-fw
            | Radio Talk Show with &nbsp
            strong Alex Etman
            br
            em
                | 1240 AM Wave.
        h3
            | Every Sunday Morning
            br
            |from 11AM to 1PM
        hr
        br
        br
        br
        h3
            a.label.label-danger(href='http://media.imcpro.com/OSA/', target='_blank')
                i.fa.fa-headphones.fa-fw
                | Listen to Radio "OSA" Programs


    hr
    ul.ul-about.list-inline
        li
            i.fa.fa-play.fa-rotate-180.fa-fw
            span.text-left Previous Page
        li
            span.text-right Next Page
                i.fa.fa-play.fa-fw

