h1.h1-desk.text-center
    i.fa.fa-volume-up.fa-fw
    | Radio Talk Show with &nbsp
    strong Alex Etman
    br
    em
        | 1240 AM Wave.
.text-cetner.radio-auth-pic
    img.thumbnail(src="../img/alex-etman.jpg")

