div
    ul.ul-about.list-inline
        li About Us
        li Page 1
    span.h2-about SVET International &nbsp
        br
        span.text-warning publishing house
    img.img-about-desk(src="../img/aboutUs/aboutus_1.jpg")

